@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@200;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins';
  box-sizing: border-box;
  
}
 
body {
  background-color: #000;
  color: #fff;
}


.App {
  text-align: center;
}

.App .form {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.App .form input {
    padding: .3rem 4rem;
    border-radius: 3px;
    outline: none;
    border: none;
}

.App .form button {
  padding: .3rem 1rem;
  margin: 0 0 0 .2rem;
  border-radius: .17rem;
  background-color: rgb(140, 51, 140);
  border: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}


.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .8rem;
}
.task div h4{
   text-transform: uppercase;
   
}

.icons {
   margin: 0 .3rem;
   cursor: pointer;
}

.todo-con {
  width: 485px;
  margin: 2rem auto 0 auto;
  text-align: start;
  padding: .6rem .6rem;
  

}